
node_modules/
npm-debug.log*
yarn-error.log
pnpm-debug.log
package-lock.json
yarn.lock
pnpm-lock.yaml


dist/
build/
.DS_Store
*.log
logs/
out.log
error.log


.env
.env.local
.env.development
.env.production
.env.test


.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.pids
pm2.log
pm2.pid
